In [848]:
# Generic inputs for most ML tasks
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso
from sklearn.ensemble import RandomForestRegressor

pd.options.display.float_format = '{:,.2f}'.format

# setup interactive notebook mode
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

from IPython.display import display, HTML

Reading and cleaning Flight data

In [849]:
syrData = pd.read_csv("C:/Users/nirmi/Desktop/SU_SEM3/IntroToML/Project/Data sets/flight data/syrData.csv", parse_dates = ['Date (MM/DD/YYYY)', 'Scheduled Arrival Time', 'Actual Arrival Time'])
originData = pd.read_excel("C:/Users/nirmi/Desktop/SU_SEM3/IntroToML/Project/Data sets/flight data/Merged_Departures_Apr18.xlsx", parse_dates = ['Date (MM/DD/YYYY)', 'Scheduled departure time', 'Actual departure time'])

syrData.head()
originData.head()

,Carrier Code,Date (MM/DD/YYYY),Flight Number,Tail Number,Origin Airport,Scheduled Arrival Time,Actual Arrival Time,Scheduled Elapsed Time (Minutes),Actual Elapsed Time (Minutes),Arrival Delay (Minutes),Wheels-on Time,Taxi-In time (Minutes),Delay Carrier (Minutes),Delay Weather (Minutes),Delay National Aviation System (Minutes),Delay Security (Minutes),Delay Late Aircraft Arrival (Minutes)
0,UA,2022-01-01,1282,N4901U,IAD,2023-04-20 23:10:00,2023-04-20 00:01:00,70,76,51,23:55,6,23,0,6,0,22
1,UA,2022-01-02,1282,N4901U,IAD,2023-04-20 23:10:00,2023-04-20 23:27:00,70,64,17,23:19,8,17,0,0,0,0
2,UA,2022-01-03,1282,N893UA,IAD,2023-04-20 23:10:00,2023-04-20 23:31:00,70,68,21,23:25,6,21,0,0,0,0
3,UA,2022-01-04,1282,N814UA,IAD,2023-04-20 23:44:00,2023-04-20 01:59:00,69,89,135,1:55,4,115,0,20,0,0
4,UA,2022-01-05,1282,N827UA,IAD,2023-04-20 23:44:00,2023-04-20 23:30:00,69,61,-14,23:25,5,0,0,0,0,0

,Carrier Code,Date (MM/DD/YYYY),Flight Number,Tail Number,Destination Airport,Scheduled departure time,Actual departure time,Scheduled elapsed time (Minutes),Actual elapsed time (Minutes),Departure delay (Minutes),Wheels-off time,Taxi-Out time (Minutes),Delay Carrier (Minutes),Delay Weather (Minutes),Delay National Aviation System (Minutes),Delay Security (Minutes),Delay Late Aircraft Arrival (Minutes),Source Airport
0,UA,2022-02-11,1200,N853UA,SYR,2023-04-20 09:50:00,2023-04-20 09:47:00,199,185,-3,10:02:00,15,0,0,0,0,0,DEN
1,UA,2022-02-12,1200,N818UA,SYR,2023-04-20 09:50:00,2023-04-20 10:09:00,199,196,19,10:27:00,18,16,0,0,0,0,DEN
2,UA,2022-02-13,1200,N483UA,SYR,2023-04-20 09:50:00,2023-04-20 09:51:00,199,188,1,10:01:00,10,0,0,0,0,0,DEN
3,UA,2022-02-14,1200,N403UA,SYR,2023-04-20 09:50:00,2023-04-20 09:59:00,199,195,9,10:20:00,21,0,0,0,0,0,DEN
4,UA,2022-02-15,1200,N873UA,SYR,2023-04-20 09:50:00,2023-04-20 09:47:00,199,188,-3,09:57:00,10,0,0,0,0,0,DEN

In [850]:
# Cleaning the data

# syrData['Scheduled Arrival Time'] = syrData['Scheduled Arrival Time'].dt.time
# syrData['Actual Arrival Time'] = syrData['Actual Arrival Time'].dt.time
syrData.drop(columns=['Carrier Code','Actual Arrival Time','Actual Elapsed Time (Minutes)','Wheels-on Time',
                         'Delay Carrier (Minutes)', 'Delay Weather (Minutes)', 'Delay National Aviation System (Minutes)', 
                         'Delay Security (Minutes)', 'Delay Late Aircraft Arrival (Minutes)', 'Tail Number'], inplace = True)
syrData.dtypes
syrData.head()


# originData['Scheduled departure time'] = originData['Scheduled departure time'].dt.time
# originData['Actual departure time'] = originData['Actual departure time'].dt.time
originData.drop(columns=['Carrier Code', 'Actual departure time', 'Actual elapsed time (Minutes)', 'Wheels-off time',
                        'Delay Carrier (Minutes)', 'Delay Weather (Minutes)', 'Delay National Aviation System (Minutes)', 
                        'Delay Security (Minutes)', 'Delay Late Aircraft Arrival (Minutes)', 'Scheduled elapsed time (Minutes)', 'Tail Number'], inplace = True)
originData.dtypes
originData.head()

Date (MM/DD/YYYY)                   datetime64[ns]
Flight Number                                int64
Origin Airport                              object
Scheduled Arrival Time              datetime64[ns]
Scheduled Elapsed Time (Minutes)             int64
Arrival Delay (Minutes)                      int64
Taxi-In time (Minutes)                       int64
dtype: object

,Date (MM/DD/YYYY),Flight Number,Origin Airport,Scheduled Arrival Time,Scheduled Elapsed Time (Minutes),Arrival Delay (Minutes),Taxi-In time (Minutes)
0,2022-01-01,1282,IAD,2023-04-20 23:10:00,70,51,6
1,2022-01-02,1282,IAD,2023-04-20 23:10:00,70,17,8
2,2022-01-03,1282,IAD,2023-04-20 23:10:00,70,21,6
3,2022-01-04,1282,IAD,2023-04-20 23:44:00,69,135,4
4,2022-01-05,1282,IAD,2023-04-20 23:44:00,69,-14,5

Date (MM/DD/YYYY)            datetime64[ns]
Flight Number                         int64
Destination Airport                  object
Scheduled departure time     datetime64[ns]
Departure delay (Minutes)             int64
Taxi-Out time (Minutes)               int64
Source Airport                       object
dtype: object

,Date (MM/DD/YYYY),Flight Number,Destination Airport,Scheduled departure time,Departure delay (Minutes),Taxi-Out time (Minutes),Source Airport
0,2022-02-11,1200,SYR,2023-04-20 09:50:00,-3,15,DEN
1,2022-02-12,1200,SYR,2023-04-20 09:50:00,19,18,DEN
2,2022-02-13,1200,SYR,2023-04-20 09:50:00,1,10,DEN
3,2022-02-14,1200,SYR,2023-04-20 09:50:00,9,21,DEN
4,2022-02-15,1200,SYR,2023-04-20 09:50:00,-3,10,DEN

In [851]:
# Looking for NAN
print('Syracuse flight NaN :')
syrData.isna().sum()

print('origin flight NaN :')
originData.isna().sum()

Syracuse flight NaN :

Date (MM/DD/YYYY)                   0
Flight Number                       0
Origin Airport                      0
Scheduled Arrival Time              0
Scheduled Elapsed Time (Minutes)    0
Arrival Delay (Minutes)             0
Taxi-In time (Minutes)              0
dtype: int64

origin flight NaN :

Date (MM/DD/YYYY)            0
Flight Number                0
Destination Airport          0
Scheduled departure time     0
Departure delay (Minutes)    0
Taxi-Out time (Minutes)      0
Source Airport               0
dtype: int64

In [852]:
syrData
originData

,Date (MM/DD/YYYY),Flight Number,Origin Airport,Scheduled Arrival Time,Scheduled Elapsed Time (Minutes),Arrival Delay (Minutes),Taxi-In time (Minutes)
0,2022-01-01,1282,IAD,2023-04-20 23:10:00,70,51,6
1,2022-01-02,1282,IAD,2023-04-20 23:10:00,70,17,8
2,2022-01-03,1282,IAD,2023-04-20 23:10:00,70,21,6
3,2022-01-04,1282,IAD,2023-04-20 23:44:00,69,135,4
4,2022-01-05,1282,IAD,2023-04-20 23:44:00,69,-14,5
...,...,...,...,...,...,...,...
1033,2022-12-30,1998,ORD,2023-04-20 21:07:00,113,-11,5
1034,2022-12-30,2488,EWR,2023-04-20 23:14:00,75,-7,4
1035,2022-12-31,604,DEN,2023-04-20 14:58:00,193,-12,7
1036,2022-12-31,1998,ORD,2023-04-20 21:08:00,113,-24,4
1037,2022-12-31,2488,EWR,2023-04-20 23:14:00,75,92,6

,Date (MM/DD/YYYY),Flight Number,Destination Airport,Scheduled departure time,Departure delay (Minutes),Taxi-Out time (Minutes),Source Airport
0,2022-02-11,1200,SYR,2023-04-20 09:50:00,-3,15,DEN
1,2022-02-12,1200,SYR,2023-04-20 09:50:00,19,18,DEN
2,2022-02-13,1200,SYR,2023-04-20 09:50:00,1,10,DEN
3,2022-02-14,1200,SYR,2023-04-20 09:50:00,9,21,DEN
4,2022-02-15,1200,SYR,2023-04-20 09:50:00,-3,10,DEN
...,...,...,...,...,...,...,...
1033,2022-10-26,2198,SYR,2023-04-20 22:20:00,-4,14,IAD
1034,2022-10-27,2198,SYR,2023-04-20 22:20:00,-6,17,IAD
1035,2022-10-28,2198,SYR,2023-04-20 22:20:00,-13,18,IAD
1036,2022-10-29,2198,SYR,2023-04-20 22:20:00,-10,15,IAD
1037,2022-12-26,1968,SYR,2023-04-20 22:00:00,0,0,IAD

In [853]:
# Merging arrival and departure data into flightData
flightData = pd.merge(syrData, originData, left_on = ['Date (MM/DD/YYYY)', 'Flight Number', 'Origin Airport'], right_on= ['Date (MM/DD/YYYY)', 'Flight Number', 'Source Airport'])
flightData.shape
flightData.head()

(1038, 12)

,Date (MM/DD/YYYY),Flight Number,Origin Airport,Scheduled Arrival Time,Scheduled Elapsed Time (Minutes),Arrival Delay (Minutes),Taxi-In time (Minutes),Destination Airport,Scheduled departure time,Departure delay (Minutes),Taxi-Out time (Minutes),Source Airport
0,2022-01-01,1282,IAD,2023-04-20 23:10:00,70,51,6,SYR,2023-04-20 22:00:00,45,21,IAD
1,2022-01-02,1282,IAD,2023-04-20 23:10:00,70,17,8,SYR,2023-04-20 22:00:00,23,9,IAD
2,2022-01-03,1282,IAD,2023-04-20 23:10:00,70,21,6,SYR,2023-04-20 22:00:00,23,13,IAD
3,2022-01-04,1282,IAD,2023-04-20 23:44:00,69,135,4,SYR,2023-04-20 22:35:00,115,43,IAD
4,2022-01-05,1282,IAD,2023-04-20 23:44:00,69,-14,5,SYR,2023-04-20 22:35:00,-6,12,IAD

In [854]:
# Reading Weather data
syrWeather = pd.read_csv("C:/Users/nirmi/Desktop/SU_SEM3/IntroToML/Project/Data sets/Weather_2022_final/Weather_2022/syracuse_weather_2022.csv",parse_dates=['datetime', 'timestamp_utc', 'timestamp_local'])
chiWeather = pd.read_csv("C:/Users/nirmi/Desktop/SU_SEM3/IntroToML/Project/Data sets/Weather_2022_final/Weather_2022/chicago_weather_2022.csv",parse_dates=['datetime', 'timestamp_utc', 'timestamp_local'])
wasWeather = pd.read_csv("C:/Users/nirmi/Desktop/SU_SEM3/IntroToML/Project/Data sets/Weather_2022_final/Weather_2022/washingtondc_weather_2022.csv",parse_dates=['datetime', 'timestamp_utc', 'timestamp_local'])
newWeather = pd.read_csv("C:/Users/nirmi/Desktop/SU_SEM3/IntroToML/Project/Data sets/Weather_2022_final/Weather_2022/newark_weather_2022.csv",parse_dates=['datetime', 'timestamp_utc', 'timestamp_local'])
denWeather = pd.read_csv("C:/Users/nirmi/Desktop/SU_SEM3/IntroToML/Project/Data sets/Weather_2022_final/Weather_2022/denver_weather_2022.csv",parse_dates=['datetime', 'timestamp_utc', 'timestamp_local'])

syrWeather.head()
chiWeather.head()
wasWeather.head()
newWeather.head()
denWeather.head()

,datetime,temp,pres,dewpt,wind_spd,wind_dir,precip,snow,clouds,rh,solar_rad,uv,vis,pod,timestamp_utc,timestamp_local,description
0,2022-01-01 00:00:00,5.00,996.70,4.30,1.50,140,0.00,0.00,0,95,0,0.00,16,n,2022-01-01 00:00:00,2021-12-31 19:00:00,Clear Sky
1,2022-01-01 01:00:00,3.30,996.40,3.30,2.10,110,0.00,0.00,25,100,0,0.00,14,n,2022-01-01 01:00:00,2021-12-31 20:00:00,Fog
2,2022-01-01 02:00:00,2.20,996.00,1.60,1.50,90,0.00,0.00,25,96,0,0.00,0,n,2022-01-01 02:00:00,2021-12-31 21:00:00,Haze
3,2022-01-01 03:00:00,1.70,995.70,1.70,2.60,110,0.00,0.00,25,100,0,0.00,11,n,2022-01-01 03:00:00,2021-12-31 22:00:00,Fog
4,2022-01-01 04:00:00,1.70,995.00,1.70,2.60,80,0.00,0.00,25,100,0,0.00,13,n,2022-01-01 04:00:00,2021-12-31 23:00:00,Fog

,datetime,temp,pres,dewpt,wind_spd,wind_dir,precip,snow,clouds,rh,solar_rad,uv,vis,pod,timestamp_utc,timestamp_local,description
0,2022-01-01 00:00:00,3.30,982.96,3.30,3.60,340,0.00,0.00,100,100,0,0.00,NaN,n,2022-01-01 00:00:00,2021-12-31 18:00:00,Fog
1,2022-01-01 01:00:00,4.90,981.60,3.60,3.60,340,0.00,0.00,100,91,0,0.00,0.00,n,2022-01-01 01:00:00,2021-12-31 19:00:00,Haze
2,2022-01-01 02:00:00,4.90,981.60,3.60,3.10,330,0.00,0.00,100,91,0,0.00,0.00,n,2022-01-01 02:00:00,2021-12-31 20:00:00,Haze
3,2022-01-01 03:00:00,4.80,982.20,3.50,4.10,330,0.00,0.00,100,91,0,0.00,0.00,n,2022-01-01 03:00:00,2021-12-31 21:00:00,Haze
4,2022-01-01 04:00:00,4.50,982.90,3.30,5.10,340,0.25,0.00,100,92,0,0.00,0.00,n,2022-01-01 04:00:00,2021-12-31 22:00:00,Haze

,datetime,temp,pres,dewpt,wind_spd,wind_dir,precip,snow,clouds,rh,solar_rad,uv,vis,pod,timestamp_utc,timestamp_local,description
0,2022-01-01 00:00:00,12.40,"1,009.82",10.10,1.50,160,0.50,0.00,100,86,0,0.00,NaN,n,2022-01-01 00:00:00,2021-12-31 19:00:00,Overcast clouds
1,2022-01-01 01:00:00,13.30,"1,002.50",11.20,0.50,130,0.00,0.00,100,87,0,0.00,2.00,n,2022-01-01 01:00:00,2021-12-31 20:00:00,Haze
2,2022-01-01 02:00:00,13.10,"1,002.20",11.00,2.60,160,3.00,0.00,100,87,0,0.00,2.00,n,2022-01-01 02:00:00,2021-12-31 21:00:00,Light rain
3,2022-01-01 03:00:00,13.30,"1,002.20",12.20,1.50,220,0.50,0.00,100,93,0,0.00,10.00,n,2022-01-01 03:00:00,2021-12-31 22:00:00,Overcast clouds
4,2022-01-01 04:00:00,12.80,"1,002.20",11.70,2.10,160,0.50,0.00,100,93,0,0.00,10.00,n,2022-01-01 04:00:00,2021-12-31 23:00:00,Overcast clouds

,datetime,temp,pres,dewpt,wind_spd,wind_dir,precip,snow,clouds,rh,solar_rad,uv,vis,pod,timestamp_utc,timestamp_local,description
0,2022-01-01 00:00:00,10.00,"1,013.10",8.30,2.10,210,0.00,0.00,100,89,0,0.00,11,n,2022-01-01 00:00:00,2021-12-31 19:00:00,Overcast clouds
1,2022-01-01 01:00:00,10.60,"1,013.10",8.20,1.50,160,0.00,0.00,100,85,0,0.00,10,n,2022-01-01 01:00:00,2021-12-31 20:00:00,Overcast clouds
2,2022-01-01 02:00:00,10.00,"1,012.80",8.30,2.00,160,0.00,0.00,100,89,0,0.00,10,n,2022-01-01 02:00:00,2021-12-31 21:00:00,Overcast clouds
3,2022-01-01 03:00:00,10.00,"1,012.50",8.30,2.00,160,0.00,0.00,100,89,0,0.00,10,n,2022-01-01 03:00:00,2021-12-31 22:00:00,Overcast clouds
4,2022-01-01 04:00:00,10.00,"1,012.10",8.30,2.10,160,0.00,0.00,100,89,0,0.00,11,n,2022-01-01 04:00:00,2021-12-31 23:00:00,Overcast clouds

,datetime,temp,pres,dewpt,wind_spd,wind_dir,precip,snow,clouds,rh,solar_rad,uv,vis,pod,timestamp_utc,timestamp_local,description
0,2022-01-01 00:00:00,-3.00,809.70,-3.00,4.60,60,0.50,10.00,100,100,0,0.00,1,n,2022-01-01 00:00:00,2021-12-31 17:00:00,Light snow
1,2022-01-01 01:00:00,-3.00,814.90,-4.10,5.10,40,0.50,10.00,100,92,0,0.00,1,n,2022-01-01 01:00:00,2021-12-31 18:00:00,Light snow
2,2022-01-01 02:00:00,-7.00,814.90,-8.10,5.70,350,1.00,25.00,100,92,0,0.00,1,n,2022-01-01 02:00:00,2021-12-31 19:00:00,Light snow
3,2022-01-01 03:00:00,-8.00,814.90,-9.10,4.10,360,1.00,30.00,100,92,0,0.00,2,n,2022-01-01 03:00:00,2021-12-31 20:00:00,Light snow
4,2022-01-01 04:00:00,-9.00,814.90,-10.10,2.10,10,1.00,30.00,100,92,0,0.00,2,n,2022-01-01 04:00:00,2021-12-31 21:00:00,Light snow

In [855]:
# checking for NaN
syrWeather.isna().sum()
chiWeather.isna().sum()
wasWeather.isna().sum()
newWeather.isna().sum()
denWeather.isna().sum()

chiWeather.dropna(inplace= True)
wasWeather.dropna(inplace= True)

datetime           0
temp               0
pres               0
dewpt              0
wind_spd           0
wind_dir           0
precip             0
snow               0
clouds             0
rh                 0
solar_rad          0
uv                 0
vis                0
pod                0
timestamp_utc      0
timestamp_local    0
description        0
dtype: int64

datetime           0
temp               0
pres               0
dewpt              0
wind_spd           0
wind_dir           0
precip             0
snow               0
clouds             0
rh                 0
solar_rad          0
uv                 0
vis                1
pod                0
timestamp_utc      0
timestamp_local    0
description        0
dtype: int64

datetime           0
temp               0
pres               0
dewpt              0
wind_spd           0
wind_dir           0
precip             0
snow               0
clouds             0
rh                 0
solar_rad          0
uv                 0
vis                1
pod                0
timestamp_utc      0
timestamp_local    0
description        0
dtype: int64

datetime           0
temp               0
pres               0
dewpt              0
wind_spd           0
wind_dir           0
precip             0
snow               0
clouds             0
rh                 0
solar_rad          0
uv                 0
vis                0
pod                0
timestamp_utc      0
timestamp_local    0
description        0
dtype: int64

datetime           0
temp               0
pres               0
dewpt              0
wind_spd           0
wind_dir           0
precip             0
snow               0
clouds             0
rh                 0
solar_rad          0
uv                 0
vis                0
pod                0
timestamp_utc      0
timestamp_local    0
description        0
dtype: int64

In [856]:
# Cleaning the weather data

denWeather['Origin Airport'] = 'DEN'
chiWeather['Origin Airport'] = 'ORD'
wasWeather['Origin Airport'] = 'IAD'
newWeather['Origin Airport'] = 'EWR'
syrWeather['Destination Airport'] = 'SYR'

syrWeather['date'] = syrWeather['timestamp_local'].dt.date
syrWeather['time'] = syrWeather['timestamp_local'].dt.time

chiWeather['date'] = chiWeather['timestamp_local'].dt.date
chiWeather['time'] = chiWeather['timestamp_local'].dt.time

wasWeather['date'] = wasWeather['timestamp_local'].dt.date
wasWeather['time'] = wasWeather['timestamp_local'].dt.time

newWeather['date'] = newWeather['timestamp_local'].dt.date
newWeather['time'] = newWeather['timestamp_local'].dt.time

denWeather['date'] = denWeather['timestamp_local'].dt.date
denWeather['time'] = denWeather['timestamp_local'].dt.time

syrWeather.drop(columns=['datetime', 'timestamp_utc', 'uv', 'solar_rad', 'clouds', 'pod', 'timestamp_local'],inplace = True)
chiWeather.drop(columns=['datetime', 'timestamp_utc', 'uv', 'solar_rad', 'clouds', 'pod', 'timestamp_local'],inplace = True)
wasWeather.drop(columns=['datetime', 'timestamp_utc', 'uv', 'solar_rad', 'clouds', 'pod', 'timestamp_local'],inplace = True)
newWeather.drop(columns=['datetime', 'timestamp_utc', 'uv', 'solar_rad', 'clouds', 'pod', 'timestamp_local'],inplace = True)
denWeather.drop(columns=['datetime', 'timestamp_utc', 'uv', 'solar_rad', 'clouds', 'pod', 'timestamp_local'],inplace = True)

syrWeather.head()
chiWeather.head()
wasWeather.head()
newWeather.head()
denWeather.head()

,temp,pres,dewpt,wind_spd,wind_dir,precip,snow,rh,vis,description,Destination Airport,date,time
0,5.00,996.70,4.30,1.50,140,0.00,0.00,95,16,Clear Sky,SYR,2021-12-31,19:00:00
1,3.30,996.40,3.30,2.10,110,0.00,0.00,100,14,Fog,SYR,2021-12-31,20:00:00
2,2.20,996.00,1.60,1.50,90,0.00,0.00,96,0,Haze,SYR,2021-12-31,21:00:00
3,1.70,995.70,1.70,2.60,110,0.00,0.00,100,11,Fog,SYR,2021-12-31,22:00:00
4,1.70,995.00,1.70,2.60,80,0.00,0.00,100,13,Fog,SYR,2021-12-31,23:00:00

,temp,pres,dewpt,wind_spd,wind_dir,precip,snow,rh,vis,description,Origin Airport,date,time
1,4.90,981.60,3.60,3.60,340,0.00,0.00,91,0.00,Haze,ORD,2021-12-31,19:00:00
2,4.90,981.60,3.60,3.10,330,0.00,0.00,91,0.00,Haze,ORD,2021-12-31,20:00:00
3,4.80,982.20,3.50,4.10,330,0.00,0.00,91,0.00,Haze,ORD,2021-12-31,21:00:00
4,4.50,982.90,3.30,5.10,340,0.25,0.00,92,0.00,Haze,ORD,2021-12-31,22:00:00
5,3.70,983.10,2.70,5.10,350,0.00,0.00,93,0.00,Haze,ORD,2021-12-31,23:00:00

,temp,pres,dewpt,wind_spd,wind_dir,precip,snow,rh,vis,description,Origin Airport,date,time
1,13.30,"1,002.50",11.20,0.50,130,0.00,0.00,87,2.00,Haze,IAD,2021-12-31,20:00:00
2,13.10,"1,002.20",11.00,2.60,160,3.00,0.00,87,2.00,Light rain,IAD,2021-12-31,21:00:00
3,13.30,"1,002.20",12.20,1.50,220,0.50,0.00,93,10.00,Overcast clouds,IAD,2021-12-31,22:00:00
4,12.80,"1,002.20",11.70,2.10,160,0.50,0.00,93,10.00,Overcast clouds,IAD,2021-12-31,23:00:00
5,12.20,"1,001.50",10.10,1.00,150,0.00,0.00,87,10.00,Overcast clouds,IAD,2022-01-01,00:00:00

,temp,pres,dewpt,wind_spd,wind_dir,precip,snow,rh,vis,description,Origin Airport,date,time
0,10.00,"1,013.10",8.30,2.10,210,0.00,0.00,89,11,Overcast clouds,EWR,2021-12-31,19:00:00
1,10.60,"1,013.10",8.20,1.50,160,0.00,0.00,85,10,Overcast clouds,EWR,2021-12-31,20:00:00
2,10.00,"1,012.80",8.30,2.00,160,0.00,0.00,89,10,Overcast clouds,EWR,2021-12-31,21:00:00
3,10.00,"1,012.50",8.30,2.00,160,0.00,0.00,89,10,Overcast clouds,EWR,2021-12-31,22:00:00
4,10.00,"1,012.10",8.30,2.10,160,0.00,0.00,89,11,Overcast clouds,EWR,2021-12-31,23:00:00

,temp,pres,dewpt,wind_spd,wind_dir,precip,snow,rh,vis,description,Origin Airport,date,time
0,-3.00,809.70,-3.00,4.60,60,0.50,10.00,100,1,Light snow,DEN,2021-12-31,17:00:00
1,-3.00,814.90,-4.10,5.10,40,0.50,10.00,92,1,Light snow,DEN,2021-12-31,18:00:00
2,-7.00,814.90,-8.10,5.70,350,1.00,25.00,92,1,Light snow,DEN,2021-12-31,19:00:00
3,-8.00,814.90,-9.10,4.10,360,1.00,30.00,92,2,Light snow,DEN,2021-12-31,20:00:00
4,-9.00,814.90,-10.10,2.10,10,1.00,30.00,92,2,Light snow,DEN,2021-12-31,21:00:00

In [857]:
# Merging the weather data with flight data

flightData['Scheduled Arrival Time'] = flightData['Scheduled Arrival Time'].dt.round('H')
flightData['Scheduled departure time'] = flightData['Scheduled departure time'].dt.round('H')
flightData['Scheduled Arrival Time'] = flightData['Scheduled Arrival Time'].dt.time
flightData['Scheduled departure time'] = flightData['Scheduled departure time'].dt.time
flightData.drop(columns = ['Source Airport'], inplace = True)
flightData
flightData.dtypes

,Date (MM/DD/YYYY),Flight Number,Origin Airport,Scheduled Arrival Time,Scheduled Elapsed Time (Minutes),Arrival Delay (Minutes),Taxi-In time (Minutes),Destination Airport,Scheduled departure time,Departure delay (Minutes),Taxi-Out time (Minutes)
0,2022-01-01,1282,IAD,23:00:00,70,51,6,SYR,22:00:00,45,21
1,2022-01-02,1282,IAD,23:00:00,70,17,8,SYR,22:00:00,23,9
2,2022-01-03,1282,IAD,23:00:00,70,21,6,SYR,22:00:00,23,13
3,2022-01-04,1282,IAD,00:00:00,69,135,4,SYR,23:00:00,115,43
4,2022-01-05,1282,IAD,00:00:00,69,-14,5,SYR,23:00:00,-6,12
...,...,...,...,...,...,...,...,...,...,...,...
1033,2022-12-30,1998,ORD,21:00:00,113,-11,5,SYR,18:00:00,-3,22
1034,2022-12-30,2488,EWR,23:00:00,75,-7,4,SYR,22:00:00,18,14
1035,2022-12-31,604,DEN,15:00:00,193,-12,7,SYR,10:00:00,3,12
1036,2022-12-31,1998,ORD,21:00:00,113,-24,4,SYR,18:00:00,-9,16
1037,2022-12-31,2488,EWR,23:00:00,75,92,6,SYR,22:00:00,94,30

Date (MM/DD/YYYY)                   datetime64[ns]
Flight Number                                int64
Origin Airport                              object
Scheduled Arrival Time                      object
Scheduled Elapsed Time (Minutes)             int64
Arrival Delay (Minutes)                      int64
Taxi-In time (Minutes)                       int64
Destination Airport                         object
Scheduled departure time                    object
Departure delay (Minutes)                    int64
Taxi-Out time (Minutes)                      int64
dtype: object

In [858]:
sourceColumnNames = {'temp': 'temp_s', 'pres': 'pres_s', 'dewpt': 'dewpt_s', 'wind_spd': 'wind_spd_s', 'wind_dir': 'wind_dir_s'
                     , 'precip': 'precip_s', 'snow': 'snow_s', 'rh': 'rh_s', 'vis': 'vis_s', 'description': 'description_s'
                     , 'date': 'date_s', 'time': 'time_s', 'Origin Airport': 'Origin Airport'}
destinationColumnNames = {'temp': 'temp_d', 'pres': 'pres_d', 'dewpt': 'dewpt_d', 'wind_spd': 'wind_spd_d', 'wind_dir': 'wind_dir_d'
                     , 'precip': 'precip_d', 'snow': 'snow_d', 'rh': 'rh_d', 'vis': 'vis_d', 'description': 'description_d'
                     , 'date': 'date_d', 'time': 'time_d', 'Destination Airport': 'Destination Airport'}

syrWeather = syrWeather.rename(columns=destinationColumnNames)
denWeather = denWeather.rename(columns=sourceColumnNames)
wasWeather = wasWeather.rename(columns=sourceColumnNames)
chiWeather = chiWeather.rename(columns=sourceColumnNames)
newWeather = newWeather.rename(columns=sourceColumnNames)

syrWeather['date_d'] = pd.to_datetime(syrWeather['date_d'])
denWeather['date_s'] = pd.to_datetime(denWeather['date_s'])
wasWeather['date_s'] = pd.to_datetime(wasWeather['date_s'])
chiWeather['date_s'] = pd.to_datetime(chiWeather['date_s'])
newWeather['date_s'] = pd.to_datetime(newWeather['date_s'])

syrWeather.head()
chiWeather.head()
wasWeather.head()
newWeather.head()
denWeather.head()

originWeatherData = pd.concat([denWeather, wasWeather, chiWeather, newWeather], ignore_index=True)
originWeatherData.shape
originWeatherData

,temp_d,pres_d,dewpt_d,wind_spd_d,wind_dir_d,precip_d,snow_d,rh_d,vis_d,description_d,Destination Airport,date_d,time_d
0,5.00,996.70,4.30,1.50,140,0.00,0.00,95,16,Clear Sky,SYR,2021-12-31,19:00:00
1,3.30,996.40,3.30,2.10,110,0.00,0.00,100,14,Fog,SYR,2021-12-31,20:00:00
2,2.20,996.00,1.60,1.50,90,0.00,0.00,96,0,Haze,SYR,2021-12-31,21:00:00
3,1.70,995.70,1.70,2.60,110,0.00,0.00,100,11,Fog,SYR,2021-12-31,22:00:00
4,1.70,995.00,1.70,2.60,80,0.00,0.00,100,13,Fog,SYR,2021-12-31,23:00:00

,temp_s,pres_s,dewpt_s,wind_spd_s,wind_dir_s,precip_s,snow_s,rh_s,vis_s,description_s,Origin Airport,date_s,time_s
1,4.90,981.60,3.60,3.60,340,0.00,0.00,91,0.00,Haze,ORD,2021-12-31,19:00:00
2,4.90,981.60,3.60,3.10,330,0.00,0.00,91,0.00,Haze,ORD,2021-12-31,20:00:00
3,4.80,982.20,3.50,4.10,330,0.00,0.00,91,0.00,Haze,ORD,2021-12-31,21:00:00
4,4.50,982.90,3.30,5.10,340,0.25,0.00,92,0.00,Haze,ORD,2021-12-31,22:00:00
5,3.70,983.10,2.70,5.10,350,0.00,0.00,93,0.00,Haze,ORD,2021-12-31,23:00:00

,temp_s,pres_s,dewpt_s,wind_spd_s,wind_dir_s,precip_s,snow_s,rh_s,vis_s,description_s,Origin Airport,date_s,time_s
1,13.30,"1,002.50",11.20,0.50,130,0.00,0.00,87,2.00,Haze,IAD,2021-12-31,20:00:00
2,13.10,"1,002.20",11.00,2.60,160,3.00,0.00,87,2.00,Light rain,IAD,2021-12-31,21:00:00
3,13.30,"1,002.20",12.20,1.50,220,0.50,0.00,93,10.00,Overcast clouds,IAD,2021-12-31,22:00:00
4,12.80,"1,002.20",11.70,2.10,160,0.50,0.00,93,10.00,Overcast clouds,IAD,2021-12-31,23:00:00
5,12.20,"1,001.50",10.10,1.00,150,0.00,0.00,87,10.00,Overcast clouds,IAD,2022-01-01,00:00:00

,temp_s,pres_s,dewpt_s,wind_spd_s,wind_dir_s,precip_s,snow_s,rh_s,vis_s,description_s,Origin Airport,date_s,time_s
0,10.00,"1,013.10",8.30,2.10,210,0.00,0.00,89,11,Overcast clouds,EWR,2021-12-31,19:00:00
1,10.60,"1,013.10",8.20,1.50,160,0.00,0.00,85,10,Overcast clouds,EWR,2021-12-31,20:00:00
2,10.00,"1,012.80",8.30,2.00,160,0.00,0.00,89,10,Overcast clouds,EWR,2021-12-31,21:00:00
3,10.00,"1,012.50",8.30,2.00,160,0.00,0.00,89,10,Overcast clouds,EWR,2021-12-31,22:00:00
4,10.00,"1,012.10",8.30,2.10,160,0.00,0.00,89,11,Overcast clouds,EWR,2021-12-31,23:00:00

,temp_s,pres_s,dewpt_s,wind_spd_s,wind_dir_s,precip_s,snow_s,rh_s,vis_s,description_s,Origin Airport,date_s,time_s
0,-3.00,809.70,-3.00,4.60,60,0.50,10.00,100,1,Light snow,DEN,2021-12-31,17:00:00
1,-3.00,814.90,-4.10,5.10,40,0.50,10.00,92,1,Light snow,DEN,2021-12-31,18:00:00
2,-7.00,814.90,-8.10,5.70,350,1.00,25.00,92,1,Light snow,DEN,2021-12-31,19:00:00
3,-8.00,814.90,-9.10,4.10,360,1.00,30.00,92,2,Light snow,DEN,2021-12-31,20:00:00
4,-9.00,814.90,-10.10,2.10,10,1.00,30.00,92,2,Light snow,DEN,2021-12-31,21:00:00

(34942, 13)

,temp_s,pres_s,dewpt_s,wind_spd_s,wind_dir_s,precip_s,snow_s,rh_s,vis_s,description_s,Origin Airport,date_s,time_s
0,-3.00,809.70,-3.00,4.60,60,0.50,10.00,100,1.00,Light snow,DEN,2021-12-31,17:00:00
1,-3.00,814.90,-4.10,5.10,40,0.50,10.00,92,1.00,Light snow,DEN,2021-12-31,18:00:00
2,-7.00,814.90,-8.10,5.70,350,1.00,25.00,92,1.00,Light snow,DEN,2021-12-31,19:00:00
3,-8.00,814.90,-9.10,4.10,360,1.00,30.00,92,2.00,Light snow,DEN,2021-12-31,20:00:00
4,-9.00,814.90,-10.10,2.10,10,1.00,30.00,92,2.00,Light snow,DEN,2021-12-31,21:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
34937,16.10,"1,021.90",1.40,3.60,170,0.00,0.00,37,16.00,Broken clouds,EWR,2022-12-30,14:00:00
34938,16.70,"1,021.60",2.00,2.60,200,0.00,0.00,37,16.00,Broken clouds,EWR,2022-12-30,15:00:00
34939,16.10,"1,021.30",2.20,4.10,190,0.00,0.00,39,16.00,Overcast clouds,EWR,2022-12-30,16:00:00
34940,14.40,"1,021.60",2.00,2.60,170,0.00,0.00,43,16.00,Overcast clouds,EWR,2022-12-30,17:00:00
34941,12.20,"1,021.90",2.60,2.10,160,0.00,0.00,52,16.00,Overcast clouds,EWR,2022-12-30,18:00:00

In [859]:
finalData = pd.merge(flightData, syrWeather, right_on=['Destination Airport', 'date_d', 'time_d'], left_on=['Destination Airport','Date (MM/DD/YYYY)','Scheduled Arrival Time'])
finalData = pd.merge(finalData, originWeatherData, right_on=['Origin Airport', 'date_s', 'time_s'], left_on=['Origin Airport','Date (MM/DD/YYYY)','Scheduled departure time'])
finalData

,Date (MM/DD/YYYY),Flight Number,Origin Airport,Scheduled Arrival Time,Scheduled Elapsed Time (Minutes),Arrival Delay (Minutes),Taxi-In time (Minutes),Destination Airport,Scheduled departure time,Departure delay (Minutes),...,dewpt_s,wind_spd_s,wind_dir_s,precip_s,snow_s,rh_s,vis_s,description_s,date_s,time_s
0,2022-01-01,1282,IAD,23:00:00,70,51,6,SYR,22:00:00,45,...,14.30,2.10,350,3.00,0.00,88,10.00,Light rain,2022-01-01,22:00:00
1,2022-01-02,1282,IAD,23:00:00,70,17,8,SYR,22:00:00,23,...,1.70,2.10,350,0.25,0.00,57,10.00,Overcast clouds,2022-01-02,22:00:00
2,2022-01-03,1282,IAD,23:00:00,70,21,6,SYR,22:00:00,23,...,-7.70,2.80,65,0.00,0.00,63,10.00,Scattered clouds,2022-01-03,22:00:00
3,2022-01-04,1282,IAD,00:00:00,69,135,4,SYR,23:00:00,115,...,-4.20,1.00,140,0.00,0.00,80,10.00,Broken clouds,2022-01-04,23:00:00
4,2022-01-05,1282,IAD,00:00:00,69,-14,5,SYR,23:00:00,-6,...,1.90,2.10,180,0.00,0.00,80,10.00,Overcast clouds,2022-01-05,23:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1028,2022-12-28,2488,EWR,23:00:00,75,5,7,SYR,22:00:00,13,...,-4.60,3.60,230,0.00,0.00,52,16.00,Overcast clouds,2022-12-28,22:00:00
1029,2022-12-29,604,DEN,15:00:00,193,76,5,SYR,10:00:00,72,...,-7.10,3.10,320,0.00,0.00,63,16.00,Broken clouds,2022-12-29,10:00:00
1030,2022-12-29,1998,ORD,21:00:00,113,21,6,SYR,18:00:00,17,...,9.50,7.80,190,0.00,0.00,78,16.00,Overcast clouds,2022-12-29,18:00:00
1031,2022-12-29,2488,EWR,23:00:00,75,-23,6,SYR,22:00:00,-3,...,-2.20,2.10,210,0.00,0.00,62,16.00,Scattered clouds,2022-12-29,22:00:00
1032,2022-12-30,604,DEN,15:00:00,193,17,5,SYR,10:00:00,9,...,-11.00,3.60,160,0.00,0.00,54,16.00,Scattered clouds,2022-12-30,10:00:00

In [860]:
# Cleaning the final data
finalData.columns
finalData.drop(columns = ['Date (MM/DD/YYYY)', 'Destination Airport', 'date_d', 'time_d', 'date_s', 'time_s'], inplace = True)
finalData

Index(['Date (MM/DD/YYYY)', 'Flight Number', 'Origin Airport',
       'Scheduled Arrival Time', 'Scheduled Elapsed Time (Minutes)',
       'Arrival Delay (Minutes)', 'Taxi-In time (Minutes)',
       'Destination Airport', 'Scheduled departure time',
       'Departure delay (Minutes)', 'Taxi-Out time (Minutes)', 'temp_d',
       'pres_d', 'dewpt_d', 'wind_spd_d', 'wind_dir_d', 'precip_d', 'snow_d',
       'rh_d', 'vis_d', 'description_d', 'date_d', 'time_d', 'temp_s',
       'pres_s', 'dewpt_s', 'wind_spd_s', 'wind_dir_s', 'precip_s', 'snow_s',
       'rh_s', 'vis_s', 'description_s', 'date_s', 'time_s'],
      dtype='object')

,Flight Number,Origin Airport,Scheduled Arrival Time,Scheduled Elapsed Time (Minutes),Arrival Delay (Minutes),Taxi-In time (Minutes),Scheduled departure time,Departure delay (Minutes),Taxi-Out time (Minutes),temp_d,...,temp_s,pres_s,dewpt_s,wind_spd_s,wind_dir_s,precip_s,snow_s,rh_s,vis_s,description_s
0,1282,IAD,23:00:00,70,51,6,22:00:00,45,21,3.30,...,16.30,991.70,14.30,2.10,350,3.00,0.00,88,10.00,Light rain
1,1282,IAD,23:00:00,70,17,8,22:00:00,23,9,-7.20,...,9.80,"1,003.90",1.70,2.10,350,0.25,0.00,57,10.00,Overcast clouds
2,1282,IAD,23:00:00,70,21,6,22:00:00,23,13,-11.10,...,-1.60,"1,016.10",-7.70,2.80,65,0.00,0.00,63,10.00,Scattered clouds
3,1282,IAD,00:00:00,69,135,4,23:00:00,115,43,-11.40,...,-1.20,"1,016.40",-4.20,1.00,140,0.00,0.00,80,10.00,Broken clouds
4,1282,IAD,00:00:00,69,-14,5,23:00:00,-6,12,-1.70,...,5.10,998.10,1.90,2.10,180,0.00,0.00,80,10.00,Overcast clouds
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1028,2488,EWR,23:00:00,75,5,7,22:00:00,13,21,2.20,...,4.40,"1,025.30",-4.60,3.60,230,0.00,0.00,52,16.00,Overcast clouds
1029,604,DEN,15:00:00,193,76,5,10:00:00,72,17,10.60,...,-1.00,818.00,-7.10,3.10,320,0.00,0.00,63,16.00,Broken clouds
1030,1998,ORD,21:00:00,113,21,6,18:00:00,17,30,10.00,...,13.30,988.60,9.50,7.80,190,0.00,0.00,78,16.00,Overcast clouds
1031,2488,EWR,23:00:00,75,-23,6,22:00:00,-3,15,10.00,...,4.40,"1,025.00",-2.20,2.10,210,0.00,0.00,62,16.00,Scattered clouds
1032,604,DEN,15:00:00,193,17,5,10:00:00,9,26,17.20,...,-3.00,820.00,-11.00,3.60,160,0.00,0.00,54,16.00,Scattered clouds

In [861]:
set(finalData['description_s']) 
set(finalData['description_d'])

finalData['description_s'] = finalData['description_s'].replace({'Broken clouds': 'Cloudy', 'Few clouds': 'Cloudy', 'Fog': 'Cloudy', 'Haze': 'Cloudy', 'Overcast clouds': 'Cloudy', 
                                                                 'Scattered clouds': 'Cloudy','Heavy rain': 'Rainy', 'Light rain': 'Rainy', 'Moderate rain': 'Rainy', 
                                                                 'Thunderstorm with heavy rain': 'Rainy','Light snow': 'Snow', 'Mix snow/rain': 'Snow', 
                                                                 'Snow' : 'Snow','Clear Sky' : 'Clear'})

finalData['description_d'] = finalData['description_d'].replace({'Broken clouds': 'Cloudy', 'Few clouds': 'Cloudy', 'Fog': 'Cloudy', 'Haze': 'Cloudy', 'Overcast clouds': 'Cloudy', 
                                                                 'Scattered clouds': 'Cloudy','Heavy rain': 'Rainy', 'Light rain': 'Rainy', 'Moderate rain': 'Rainy', 
                                                                 'Thunderstorm with heavy rain': 'Rainy','Light snow': 'Snow', 'Mix snow/rain': 'Snow', 
                                                                 'Snow' : 'Snow', 'Flurries' : 'Snow','Clear Sky' : 'Clear','Moderate rain' : 'Rainy', 'Heavy snow' : 'Snow'})

set(finalData['description_s']) 
set(finalData['description_d'])

{'Broken clouds',
 'Clear Sky',
 'Few clouds',
 'Fog',
 'Haze',
 'Heavy rain',
 'Light rain',
 'Light snow',
 'Mix snow/rain',
 'Moderate rain',
 'Overcast clouds',
 'Scattered clouds',
 'Snow',
 'Thunderstorm with heavy rain'}

{'Broken clouds',
 'Clear Sky',
 'Few clouds',
 'Flurries',
 'Fog',
 'Haze',
 'Heavy rain',
 'Heavy snow',
 'Light rain',
 'Light snow',
 'Mix snow/rain',
 'Moderate rain',
 'Overcast clouds',
 'Scattered clouds',
 'Snow',
 'Thunderstorm with heavy rain'}

{'Clear', 'Cloudy', 'Rainy', 'Snow'}

{'Clear', 'Cloudy', 'Rainy', 'Snow'}

In [862]:
from sklearn.preprocessing import OneHotEncoder

def getOhe(df, col):
    ohe = OneHotEncoder(drop='first', handle_unknown='error', sparse=False, dtype='int')
    ohe.fit(df[[col]])
    temp_df = pd.DataFrame(data=ohe.transform(df[[col]]), columns=ohe.get_feature_names_out())
    # If you have a newer version, replace with columns=ohe.get_feature_names_out()
    df.drop(columns=[col], axis=1, inplace=True)
    df = pd.concat([df.reset_index(drop=True), temp_df], axis=1)
    return df

In [863]:
subsetData = getOhe(finalData, 'description_d')
subsetData = getOhe(subsetData, 'description_s')
subsetData = getOhe(subsetData, 'Origin Airport')
subsetData.columns
subsetData.drop(columns = ['Taxi-In time (Minutes)', 'Departure delay (Minutes)', 'Taxi-Out time (Minutes)','Scheduled Arrival Time', 'Scheduled departure time'], inplace= True)
# subsetData['Scheduled Arrival Time'] = subsetData['Scheduled Arrival Time'].apply(lambda x: int(x.strftime('%H%M%S')))
# subsetData['Scheduled departure time'] = subsetData['Scheduled departure time'].apply(lambda x: int(x.strftime('%H%M%S')))

subsetData.dtypes

Index(['Flight Number', 'Scheduled Arrival Time',
       'Scheduled Elapsed Time (Minutes)', 'Arrival Delay (Minutes)',
       'Taxi-In time (Minutes)', 'Scheduled departure time',
       'Departure delay (Minutes)', 'Taxi-Out time (Minutes)', 'temp_d',
       'pres_d', 'dewpt_d', 'wind_spd_d', 'wind_dir_d', 'precip_d', 'snow_d',
       'rh_d', 'vis_d', 'temp_s', 'pres_s', 'dewpt_s', 'wind_spd_s',
       'wind_dir_s', 'precip_s', 'snow_s', 'rh_s', 'vis_s',
       'description_d_Cloudy', 'description_d_Rainy', 'description_d_Snow',
       'description_s_Cloudy', 'description_s_Rainy', 'description_s_Snow',
       'Origin Airport_EWR', 'Origin Airport_IAD', 'Origin Airport_ORD'],
      dtype='object')

Flight Number                         int64
Scheduled Elapsed Time (Minutes)      int64
Arrival Delay (Minutes)               int64
temp_d                              float64
pres_d                              float64
dewpt_d                             float64
wind_spd_d                          float64
wind_dir_d                            int64
precip_d                            float64
snow_d                              float64
rh_d                                  int64
vis_d                                 int64
temp_s                              float64
pres_s                              float64
dewpt_s                             float64
wind_spd_s                          float64
wind_dir_s                            int64
precip_s                            float64
snow_s                              float64
rh_s                                  int64
vis_s                               float64
description_d_Cloudy                  int32
description_d_Rainy                   int32
description_d_Snow                    int32
description_s_Cloudy                  int32
description_s_Rainy                   int32
description_s_Snow                    int32
Origin Airport_EWR                    int32
Origin Airport_IAD                    int32
Origin Airport_ORD                    int32
dtype: object

In [864]:
# Scaling the data
xTrain, xTest, yTrain, yTest = train_test_split(subsetData.drop(columns = ['Arrival Delay (Minutes)']), subsetData['Arrival Delay (Minutes)'], test_size=0.20, random_state=40)
xTrain
xTest
yTrain
yTest

,Flight Number,Scheduled Elapsed Time (Minutes),temp_d,pres_d,dewpt_d,wind_spd_d,wind_dir_d,precip_d,snow_d,rh_d,...,vis_s,description_d_Cloudy,description_d_Rainy,description_d_Snow,description_s_Cloudy,description_s_Rainy,description_s_Snow,Origin Airport_EWR,Origin Airport_IAD,Origin Airport_ORD
502,604,199,27.20,991.00,19.80,8.20,200,0.50,0.00,64,...,16.00,1,0,0,1,0,0,0,0,0
957,1998,112,2.80,"1,007.10",-5.10,6.20,280,0.00,0.00,56,...,16.00,1,0,0,1,0,0,0,0,1
262,2027,70,16.70,999.40,7.60,5.70,180,0.00,0.00,55,...,10.00,1,0,0,1,0,0,0,1,0
341,2051,111,26.70,998.00,15.40,4.10,310,0.00,0.00,50,...,10.00,1,0,0,1,0,0,0,0,1
215,2027,70,3.90,992.30,-1.90,6.70,280,0.00,0.00,66,...,10.00,1,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
626,2615,73,20.60,999.40,14.90,2.40,230,0.00,0.00,70,...,16.00,1,0,0,1,0,0,0,1,0
1016,2488,75,-10.00,988.30,-18.40,10.30,220,0.00,0.00,50,...,16.00,1,0,0,1,0,0,1,0,0
165,1874,69,5.00,990.70,2.70,3.60,50,1.00,0.00,85,...,2.00,0,1,0,1,0,0,0,1,0
7,1282,69,-9.70,"1,011.05",-12.30,5.70,295,0.00,0.00,81,...,10.00,1,0,0,0,0,0,0,1,0
219,1041,198,16.10,"1,003.40",-3.90,6.70,280,0.00,0.00,25,...,16.00,1,0,0,1,0,0,0,0,0

,Flight Number,Scheduled Elapsed Time (Minutes),temp_d,pres_d,dewpt_d,wind_spd_d,wind_dir_d,precip_d,snow_d,rh_d,...,vis_s,description_d_Cloudy,description_d_Rainy,description_d_Snow,description_s_Cloudy,description_s_Rainy,description_s_Snow,Origin Airport_EWR,Origin Airport_IAD,Origin Airport_ORD
466,2615,73,19.40,"1,000.40",12.70,0.80,275,0.00,0.00,65,...,16.00,1,0,0,1,0,0,0,1,0
643,604,198,28.30,"1,000.40",14.90,5.10,310,0.00,0.00,44,...,16.00,1,0,0,1,0,0,0,0,0
937,604,194,6.70,995.70,1.60,7.20,280,0.00,0.00,70,...,16.00,1,0,0,0,0,0,0,0,0
498,604,199,30.60,999.40,18.00,2.10,30,0.00,0.00,47,...,16.00,1,0,0,1,0,0,0,0,0
285,1041,198,12.20,999.00,10.90,2.60,350,0.25,0.00,92,...,5.00,1,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239,1041,198,3.30,989.70,-0.70,7.20,240,0.00,0.00,75,...,16.00,1,0,0,1,0,0,0,0,0
1,1282,70,-7.20,"1,005.40",-11.20,3.10,340,0.00,0.00,73,...,10.00,1,0,0,1,0,0,0,1,0
15,1282,69,-18.60,"1,016.10",-22.50,1.30,130,0.00,0.00,71,...,2.00,1,0,0,0,1,0,0,1,0
694,604,200,22.20,"1,001.70",17.80,3.60,40,0.00,0.00,76,...,16.00,1,0,0,1,0,0,0,0,0
980,1998,114,0.00,"1,003.40",-1.10,2.40,235,0.00,0.00,92,...,16.00,1,0,0,1,0,0,0,0,1

502       8
957      -5
262      77
341      56
215       3
       ...
626       2
1016    380
165       6
7        -6
219      -6
Name: Arrival Delay (Minutes), Length: 826, dtype: int64

466    -9
643    28
937     4
498   -19
285    -6
       ..
239    -6
1      17
15      0
694    -8
980   -18
Name: Arrival Delay (Minutes), Length: 207, dtype: int64

In [865]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
xTrain = pd.DataFrame(sc.fit_transform(xTrain), columns = xTrain.columns, index = xTrain.index)
xTest = pd.DataFrame(sc.transform(xTest), columns = xTest.columns, index = xTest.index)
xTrain
xTest
yTrain
yTest

,Flight Number,Scheduled Elapsed Time (Minutes),temp_d,pres_d,dewpt_d,wind_spd_d,wind_dir_d,precip_d,snow_d,rh_d,...,vis_s,description_d_Cloudy,description_d_Rainy,description_d_Snow,description_s_Cloudy,description_s_Rainy,description_s_Snow,Origin Airport_EWR,Origin Airport_IAD,Origin Airport_ORD
502,-1.07,1.41,1.30,-1.36,1.47,1.75,-0.14,0.34,-0.11,0.10,...,0.56,0.42,-0.29,-0.16,0.57,-0.26,-0.14,-0.18,-0.58,-0.82
957,0.86,-0.32,-0.96,0.86,-1.07,0.90,0.78,-0.27,-0.11,-0.35,...,0.56,0.42,-0.29,-0.16,0.57,-0.26,-0.14,-0.18,-0.58,1.22
262,0.90,-1.15,0.33,-0.20,0.23,0.69,-0.38,-0.27,-0.11,-0.40,...,-1.14,0.42,-0.29,-0.16,0.57,-0.26,-0.14,-0.18,1.72,-0.82
341,0.94,-0.34,1.25,-0.39,1.02,0.00,1.13,-0.27,-0.11,-0.68,...,-1.14,0.42,-0.29,-0.16,0.57,-0.26,-0.14,-0.18,-0.58,1.22
215,0.90,-1.15,-0.86,-1.18,-0.74,1.11,0.78,-0.27,-0.11,0.21,...,-1.14,0.42,-0.29,-0.16,-1.74,-0.26,-0.14,-0.18,1.72,-0.82
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
626,1.72,-1.09,0.69,-0.20,0.97,-0.72,0.20,-0.27,-0.11,0.43,...,0.56,0.42,-0.29,-0.16,0.57,-0.26,-0.14,-0.18,1.72,-0.82
1016,1.54,-1.05,-2.14,-1.73,-2.43,2.65,0.09,-0.27,-0.11,-0.68,...,0.56,0.42,-0.29,-0.16,0.57,-0.26,-0.14,5.55,-0.58,-0.82
165,0.69,-1.17,-0.76,-1.40,-0.27,-0.21,-1.88,0.95,-0.11,1.27,...,-3.41,-2.39,3.48,-0.16,0.57,-0.26,-0.14,-0.18,1.72,-0.82
7,-0.13,-1.17,-2.12,1.41,-1.80,0.69,0.96,-0.27,-0.11,1.05,...,-1.14,0.42,-0.29,-0.16,-1.74,-0.26,-0.14,-0.18,1.72,-0.82
219,-0.46,1.39,0.27,0.35,-0.95,1.11,0.78,-0.27,-0.11,-2.08,...,0.56,0.42,-0.29,-0.16,0.57,-0.26,-0.14,-0.18,-0.58,-0.82

,Flight Number,Scheduled Elapsed Time (Minutes),temp_d,pres_d,dewpt_d,wind_spd_d,wind_dir_d,precip_d,snow_d,rh_d,...,vis_s,description_d_Cloudy,description_d_Rainy,description_d_Snow,description_s_Cloudy,description_s_Rainy,description_s_Snow,Origin Airport_EWR,Origin Airport_IAD,Origin Airport_ORD
466,1.72,-1.09,0.58,-0.06,0.75,-1.40,0.72,-0.27,-0.11,0.16,...,0.56,0.42,-0.29,-0.16,0.57,-0.26,-0.14,-0.18,1.72,-0.82
643,-1.07,1.39,1.40,-0.06,0.97,0.43,1.13,-0.27,-0.11,-1.02,...,0.56,0.42,-0.29,-0.16,0.57,-0.26,-0.14,-0.18,-0.58,-0.82
937,-1.07,1.31,-0.60,-0.71,-0.39,1.33,0.78,-0.27,-0.11,0.43,...,0.56,0.42,-0.29,-0.16,-1.74,-0.26,-0.14,-0.18,-0.58,-0.82
498,-1.07,1.41,1.62,-0.20,1.29,-0.85,-2.11,-0.27,-0.11,-0.85,...,0.56,0.42,-0.29,-0.16,0.57,-0.26,-0.14,-0.18,-0.58,-0.82
285,-0.46,1.39,-0.09,-0.25,0.56,-0.64,1.59,0.04,-0.11,1.66,...,-2.56,0.42,-0.29,-0.16,0.57,-0.26,-0.14,-0.18,-0.58,-0.82
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239,-0.46,1.39,-0.91,-1.54,-0.62,1.33,0.32,-0.27,-0.11,0.71,...,0.56,0.42,-0.29,-0.16,0.57,-0.26,-0.14,-0.18,-0.58,-0.82
1,-0.13,-1.15,-1.89,0.63,-1.69,-0.42,1.48,-0.27,-0.11,0.60,...,-1.14,0.42,-0.29,-0.16,0.57,-0.26,-0.14,-0.18,1.72,-0.82
15,-0.13,-1.17,-2.94,2.11,-2.85,-1.19,-0.95,-0.27,-0.11,0.49,...,-3.41,0.42,-0.29,-0.16,-1.74,3.90,-0.14,-0.18,1.72,-0.82
694,-1.07,1.43,0.84,0.12,1.27,-0.21,-2.00,-0.27,-0.11,0.77,...,0.56,0.42,-0.29,-0.16,0.57,-0.26,-0.14,-0.18,-0.58,-0.82
980,0.86,-0.28,-1.22,0.35,-0.66,-0.72,0.26,-0.27,-0.11,1.66,...,0.56,0.42,-0.29,-0.16,0.57,-0.26,-0.14,-0.18,-0.58,1.22

502       8
957      -5
262      77
341      56
215       3
       ...
626       2
1016    380
165       6
7        -6
219      -6
Name: Arrival Delay (Minutes), Length: 826, dtype: int64

466    -9
643    28
937     4
498   -19
285    -6
       ..
239    -6
1      17
15      0
694    -8
980   -18
Name: Arrival Delay (Minutes), Length: 207, dtype: int64

In [866]:
# Linear Regression
modelLR = LinearRegression(fit_intercept = True)
modelLR.fit(xTrain, yTrain) 
modelLR.score(xTrain, yTrain) 
modelLR.coef_
modelLR.intercept_

LinearRegression()

0.12660204486689242

array([  5.58287231, -49.66701073, -20.50783963,  -4.15590261,
        20.30866595,  -2.09116916,   2.47561637,   1.05241551,
         2.20822367, -11.47380879,  -1.06995903,   9.09713295,
       -23.36618311,  -5.49526383,   2.76959123,  -0.4609661 ,
        -3.1647191 ,   3.06971284,  11.58043457,  -4.01767378,
        -5.16863082,  -5.57568456,  -4.2864745 ,   1.95973776,
         4.29638362,   4.45816428,  -8.08710334, -35.31068112,
       -28.28439781])

7.5447941888619185

In [867]:
testOutputLR = pd.DataFrame(modelLR.predict(xTest), index = xTest.index, columns = ['predArrivalDelay'])
testOutputLR.head()

     predArrivalDelay
466             29.69
643              6.56
937             -7.83
498              0.73
285             43.39

In [868]:
testOutputLR = testOutputLR.merge(yTest, left_index = True, right_index = True)
testOutputLR.head()
mean_absolute_error = abs(testOutputLR['predArrivalDelay'] - testOutputLR['Arrival Delay (Minutes)']).mean()
print('Mean absolute error is ')
print(mean_absolute_error)

     predArrivalDelay  Arrival Delay (Minutes)
466             29.69                       -9
643              6.56                       28
937             -7.83                        4
498              0.73                      -19
285             43.39                       -6

Mean absolute error is
31.016880186271027

In [869]:
abs(testOutputLR['predArrivalDelay'] - testOutputLR['Arrival Delay (Minutes)']).mean()/testOutputLR['Arrival Delay (Minutes)'].mean()

2.1337634425251255

In [870]:
from sklearn.ensemble import GradientBoostingRegressor


gb = GradientBoostingRegressor(random_state=50, min_samples_split = 6, min_samples_leaf = 3, max_depth = 4)

gb = gb.fit(xTrain, yTrain)

In [871]:
gb.feature_importances_

array([0.05722079, 0.04605438, 0.03068061, 0.0470397 , 0.04215101,
       0.05124453, 0.02194598, 0.00234645, 0.00079963, 0.08811523,
       0.00031054, 0.03656585, 0.07977355, 0.15177207, 0.02865955,
       0.09939733, 0.04593413, 0.04081063, 0.06353792, 0.03210377,
       0.0020754 , 0.        , 0.        , 0.00033835, 0.00016825,
       0.        , 0.00143113, 0.00322063, 0.02630258])

In [872]:
testOutputGB = pd.DataFrame(gb.predict(xTest), index = xTest.index, columns = ['predArrivalDelay'])
testOutputGB.head()

     predArrivalDelay
466              6.31
643              4.27
937             -2.13
498             -4.96
285              3.65

In [873]:
testOutputGB = testOutputGB.merge(yTest, left_index = True, right_index = True)
testOutputGB.head()
mean_absolute_error = abs(testOutputGB['predArrivalDelay'] - testOutputGB['Arrival Delay (Minutes)']).mean()
print('Mean absolute error is ')
print(mean_absolute_error)
abs(testOutputGB['predArrivalDelay'] - testOutputGB['Arrival Delay (Minutes)']).mean()/testOutputGB['Arrival Delay (Minutes)'].mean()

     predArrivalDelay  Arrival Delay (Minutes)
466              6.31                       -9
643              4.27                       28
937             -2.13                        4
498             -4.96                      -19
285              3.65                       -6

Mean absolute error is
33.191747678691826

2.2833804484842832